/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// ----------------------------------------------------------------------------------------
// | ESC   |  Q  |  W  |  E  |  R  |  T  |     |  Y  |  U   |  I  |  O  |  P  |   BKSP    |
// | CTRL  |  A  |  S  |  D  |  F  |  G  |     |  H  |  J   |  K  |  L  |  ;  |    '      |
// | LSHFT |  Z  |  X  |  C  |  V  |  B  |     |  N  |  M   |  ,  |  .  |  /  |   RSHFT   |
//                           | ALT | LWR | SPC | RSE  | ALT |
 bindings = <
   &kp ESC        &kp Q   &kp W   &kp E   &kp R   &kp T       &kp Y   &kp U    &kp I       &kp O     &kp P      &kp BSPC
   &mt LCTRL TAB  &kp A   &kp S   &kp D   &kp F   &kp G       &kp H   &kp J    &kp K       &kp L     &kp SEMI   &kp SQT
   &kp LSHFT      &kp Z   &kp X   &kp C   &kp V   &kp B       &kp N   &kp M    &kp COMMA   &kp DOT   &kp FSLH   &kp RSHFT 
                             &mt LCMD ENTER   &mo 1   &lt 2 SPACE   &mo 1   &mt RCMD ENTER
 >; };


                lower_layer {
// -------------------------------------------------------------------------------
// |    |  !  |  @  |  #  |  $  |  %  |     |  ^  |  &  |  *  |  (  |  )  |      |
// |    |  _  |  +  |  |  |  "  |  [  |     | LFT | DWN |  UP | RGT |  ~  |      |
// |    |  -  |  =  |  \  |  '  |  ]  |     | }   | {   |  <  | >   |  `  |      |
//                        |     |     | RET | ADJ |     |
 bindings = <
   &trans   &kp EXCL    &kp AT      &kp HASH   &kp DLLR   &kp PRCNT        &kp CARET   &kp AMPS   &kp ASTRK   &kp LPAR    &kp RPAR    &trans
   &trans   &kp UNDER   &kp PLUS    &kp PIPE   &kp DQT    &kp LBKT         &kp LEFT    &kp DOWN   &kp UP      &kp RIGHT   &kp TILDE   &trans
   &trans   &kp MINUS   &kp EQUAL   &kp BSLH   &kp SQT    &kp RBKT         &kp RBRC    &kp LBRC   &kp LT      &kp GT      &kp GRAVE   &trans
                                           &trans      &mo 2       &trans        &mo 2       &trans
 >; };


                raise_layer {
// ----------------------------------------------------------------------------
// |    |  1   | 2      | 3    |  4   |  5   |   |  6   |  7    |  8    |  9  |  0  |    |
// |    | lg 1 | lg 2   | lg 3 | lg 4 | lg 5 |   |      | pg dn | pg up |     |     |    |
// |    | caps | la F12 | LALT |      |  "   |   |      |       |       |     |     |    |
//                             |      | mo 3 |   | mo 3 |       |
 bindings = <
   &trans   &kp N1       &kp N2       &kp N3       &kp N4       &kp N5          &kp N6    &kp N7      &kp N8      &kp N9    &kp N0   &trans
   &trans   &kp LG(N1)   &kp LG(N2)   &kp LG(N3)   &kp LG(N4)   &kp LG(N5)      &trans    &kp PG_DN   &kp PG_UP   &trans    &trans   &trans
   &trans   &kp CAPS     &kp LA(F12)  &kp LALT       &trans       &trans          &trans    &trans      &trans      &trans    &trans   &trans
                                                         &trans   &mo 3   &trans   &mo 3   &trans
 >; };


                adjust_layer {
// -----------------------------------------------------------------------------------------
// | BT1    | BT2    | BT3    | BT4  | BT5  | BT CLR |   | F1  | F2  | F3 | F4 | F5  |    |
// |        |        |        |      |      |        |   | F6  | F7  | F8 | F9 | F10 |    |
// | BT NXT | BT PRV | BG TOG | Mute | Vol- | Vol+   |   | F11 | F12 |    |    |     |    |
//                                   |      |        |   |     |     |
 bindings = <
   &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2     &bt BT_SEL 3   &bt BT_SEL 4   &bt BT_CLR       &kp F1   &kp F2   &kp F3   &kp F4   &kp F5    &trans
   &trans         &trans         &trans           &trans         &trans         &trans           &kp F6   &kp F7   &kp F8   &kp F9   &kp F10   &trans
   &bt BT_NXT     &bt BT_PRV     &kp C_BKLT_TOG   &kp C_MUTE     &kp K_VOL_DN   &kp K_VOL_UP     &kp F11  &kp F12  &trans   &trans   &trans    &trans
                                                                        &trans   &trans   &trans   &trans  &trans
 >; };


 };  };  




